<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        People I follow (<%= current_user.friends_where_sender.count %>)
      </li>
      <% current_user.friends_where_sender.each do |user| %>
        <li class="list-group-item"><%= user.username %></li>
      <% end %>
    </ul>

    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        People that follow me (<%= current_user.friends_where_receiver.count %>)
      </li>
      <% current_user.friends_where_receiver.each do |user| %>
        <li class="list-group-item"><%= user.username %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>
          Statuses
          <a href="/statuses/new" class="btn btn-sm btn-success">
            <i class="fa fa-plus"></i>
          </a>
        </h2>
      </div>
      <table class="table table-hover table-striped">
        <% @statuses.each do |status| %>
          <tr>
            <td><%= status.user.username %></td>
            <td><%= time_ago_in_words(status.created_at) %> ago</td>
            <td><%= status.content %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
